@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@300;400;500&family=Roboto:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    max-width: 1440px;
}


/* Header */

header {
    display: grid;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #701414, #cf2e2e 45%, #cf2e2e 48%, #d96410 50%, #701414) ;
}



header img {
    justify-self: center;
    max-width: 200px;
}

header nav .navegacao {
    display: flex;
    gap: 20px;
}

.navegacao li a {
    padding: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    font-family: 'Montserrat';
    transition: all .5s;
}

.navegacao li a:hover {
    color: #fff;
}

/* CONTENT */

.content {
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: linear-gradient(90deg, #701414, #cf2e2e 45%, #cf2e2e 48%, #d96410 50%, #701414) ;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #c9c9c9;
}

.content h1 {
    margin-bottom: 60px;
    grid-column: 1;
    font-size: 3rem;
    font-family: 'Poppins';
    color: #fff;
    line-height: 1;
    position: relative;
}

.content h1::after {
    content: '';
    margin-top: 20px;
    width: 60px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    display: block;
}

.content p {
    margin-left: 30px;
    font-size: .9rem;
    color: #adacac;
    font-family: 'Roboto';
    font-weight: 300;
}



.content img {
    max-width: 100%;

}